<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tomipc.foodzye">

    <!-- Internet Permission -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Camera Permission -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- External storage Permission -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <!-- TODO: u releasu ovo maknuti debuggable -->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".loginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".SignupActivity"
            android:label="@string/title_activity_signup"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".FoodActivity"
            android:label="Menu" />
        <activity
            android:name=".addFoodActivity"
            android:label="@string/title_activity_add_food" />
        <activity
            android:name=".ReviewActivity"
            android:label="Review" />
        <activity
            android:name=".ProfileActivity"
            android:label="Profile"
            android:theme="@style/AppTheme.Dark"/>
    </application>

</manifest>